--tag resource:"API resource"
--tag mount:"API mount"
--tag get:"HTTP GET method"
--tag post:"HTTP POST method"
--tag put:"HTTP PUT method"
--tag delete:"HTTP DELETE method"
--tag patch:"HTTP PATCH method"

lib/**/*.rb
